<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script>
        function my_function() {
        var copyText = document.getElementById("short_link"); // Get the text field
        copyText.select(); // Select the text field
        copyText.setSelectionRange(0, 99999); // For mobile devices
        
        navigator.clipboard.writeText(copyText.value); // Copy the text inside the text field
        alert("Short-URL has been copied!");
        }
    </script>
</head>
<body>
    <header>
        <h1>🔗URL Shortener: Your Favorite URL Shortener Tool</h1>
        <h5>Your generate short link of your social media links or businesses, see how many times the link was hit and statistics- ALL IN ONE PLACE❗</h5>
    </header>

    <main>
    <div class="form_section">
            <form action="{{ url_for("home") }}" method="post" >
            <input type="text" name="long_url" placeholder="Enter Your URL Here...." required>
            <button type="submit">Submit</button>
            </form>
    </div>

    <div class="result_section">
        {% if short_url %}
        <hr>
        <input type="text" value="{{ short_url }}" id="short_link">
        <button onclick="my_function()">Copy Text</button>
        {% endif %}
    </div>    

    </main>

    <footer>
        <p>Hey Curious 👋 I'm Shemanto Sharkar, the creator of Color Palette Generator. You can follow my work on <a href="https://www.linkedin.com/in/shemanto/" target="_blank">LinkedIn</a>.</p>
    </footer>

</body>
</html>
