<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="../static/javascript/notification.js"></script>
</head>
<body>
    <header>
        <h1>🔗URL Shortener: Your Favorite URL Shortener Tool</h1>
        <h5>Your generate short link of your social media links or businesses, see how many times the link was hit and statistics- ALL IN ONE PLACE❗</h5>
        <hr>
        <a href="{{url_for('home') }}">Home</a>
        <a href="{{ url_for('stats') }}">Stats</a>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Hey Curious 👋 I'm Shemanto Sharkar, the creator of Color Palette Generator. You can follow my work on <a href="https://www.linkedin.com/in/shemanto/" target="_blank">LinkedIn</a>.</p>
    </footer>

</body>
</html>
