{% extends 'base.html' %}

{% block content %}
    <h1>Statistics of Your Links</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Short URLs</th>
                <th>Original URLs</th>
                <th>Short ID</th>
                <th>Clicks</th>    
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record['short_url'] }}</td>
                <td>{{ record['long_url'] }}</td>
                <td>{{ record['short_id'] }}</td>
                <td>{{ record['clicks'] }}</td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>
{% endblock %}